@font-face {
    font-family: 'standard';
    src: url('assets/fonts/LibreBaskerville-Regular.ttf');
}
:root {
    --primary-color: #000000; /* Replace with your desired primary color */
    --secondary-color: #ffffff; /* Replace with your desired secondary color */
    --font-family: 'standard', monospace; /* Set to the created font-face */
}
vaadin-icon{
    color: var(--secondary-color);
}
vaadin-button{
    font-family: var(--font-family);
}
vaadin-menu-bar-item{
    font-family: var(--font-family);
}
vaadin-checkbox{
    font-family: var(--font-family);
    color: var(--secondary-color);
    --vaadin-checkbox-background: var(--secondary-color);
    --vaadin-checkbox-background-hover: orange;
    --vaadin-checkbox-checkmark-color: orange;
}
/* main components */
H1{
    font-size: 100px;
    font-weight: 900;
    margin: 0;
    padding: 0;
    color: var(--secondary-color);
    font-family: var(--font-family);
}
H4{
    font-size: 20px;
    font-family: var(--font-family);
    font-weight: 900;
    margin: 0;
    padding: 0;
    color: var(--secondary-color);
}
H6{
    font-size: 10px;
    font-weight: 900;
    margin: 0;
    padding: 0;
    color: var(--secondary-color);
    font-family: var(--font-family);
}
.notification::part(overlay){
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-family: var(--font-family);
    border: 1px;
    border-style: solid;
    border-color: var(--secondary-color);
}
.dialog::part(overlay){
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 10px;
    border-color: var(--secondary-color);
    border-style: solid;
}
.dialog::part(backdrop){
     background-color: transparent;
 }
/*landing page components*/
.header-landing-bar{
    border: 1px solid var(--secondary-color);
    padding: 10px;
}
.landing-page-button-big{
    --vaadin-button-background: transparent; /* Animated gradient background */
    --vaadin-button-text-color: var(--secondary-color);
    --vaadin-button-border: 1px solid var(--secondary-color);
    --vaadin-button-font-size: 100px;
    --vaadin-button-height: 200px;
    --vaadin-button-border-radius: 0px;
}
.landing-page-button-small{
    --vaadin-button-background: linear-gradient(45deg, #ff6b6b, #f7b733); /* Animated gradient background */
    --vaadin-button-text-color: var(--secondary-color);
    --vaadin-button-border: 1px solid var(--secondary-color);
    --vaadin-button-border-radius: 0px;
}
.landing-page-button-small-transparent{
    --vaadin-button-background: transparent; /* Animated gradient background */
    --vaadin-button-text-color: var(--secondary-color);
    --vaadin-button-border: 1px solid var(--secondary-color);
    --vaadin-button-border-radius: 0px;
}
.landing-page {
    background: radial-gradient(circle, black, darkblue, pink);
    background-size: 300% 300%;
    animation: gradient-spin 5s ease infinite alternate;
    color: var(--secondary-color);
    font-family: var(--font-family);
}
/* Add the keyframes for the spinning animation */
@keyframes gradient-spin {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}
/* Add this new class for spacing */
.spacing {
    margin: 10px; /* Adjust the value as needed */
}
/* editor components */
.clip-editor-component{
    border: 1px solid var(--secondary-color);
}
.clip-editor-title{
    --vaadin-input-field-border-color: var(--secondary-color);
    --vaadin-input-field-border-width: 1px;
    --vaadin-input-field-value-color: var(--secondary-color);
    --vaadin-input-field-placeholder-color: var(--secondary-color);
    font-family: var(--font-family);
}
.clip-editor-clip-type{
    --vaadin-input-field-border-color: var(--secondary-color);
    --vaadin-input-field-border-width: 1px;
    --vaadin-input-field-value-color: var(--secondary-color);
    --vaadin-input-field-placeholder-color: var(--secondary-color);
    font-family: var(--font-family);
}
.menubar{
    --vaadin-button-background: transparent; /* Animated gradient background */
    --vaadin-button-text-color: var(--secondary-color);
    --vaadin-button-border: 1px solid var(--secondary-color);
    --vaadin-button-border-radius: 0px;
}
.button-small{
    --vaadin-button-background: transparent; /* Animated gradient background */
    --vaadin-button-text-color: var(--secondary-color);
    --vaadin-button-border: 1px solid var(--secondary-color);
    --vaadin-button-border-radius: 0px;
}